
@model List<RecipeSearchEngine.Model.Recipe>

@{
    int page = 1;
    int recipeCount = 1; 
    string pclass = "page_1";
    foreach (var r in Model)
    {
        if (page > 10 && page < 21)
        {
            pclass = "page_2";
        }
        else if (page > 20 && page < 31)
        {
            pclass = "page_3";
        }
        else if (page > 30 && page < 41)
        {
            pclass = "page_4";
        }
        else if (page > 40 && page < 51)
        {
            pclass = "page_5";
        }
        else
        {
            pclass = "page_1";
        }
        var ct = String.IsNullOrEmpty(r.Cooking_time) || r.Cooking_time == "NaN" ? "Not Available" : r.Cooking_time.Replace("PT", "");
        var ingredients = r.Ingredients.Trim('[', ']')
        .Split(",")
        .Select(x => x.Trim('"'))
        .ToArray();
        ingredients = ingredients.Select(i => i.Replace("'", "").Trim()).ToArray();
        <div class="@pclass">
            <div class="row">
                <div class="col">
                    <h3><a href='@r.Urls' target="_blank">@r.Title</a></h3>
                    <input class="form-check-input r_@recipeCount" type="checkbox" id="@r.DocId" style="right:0;">
                    <h5>[Prepare Time: @ct]</h5>
                    <div class="row m-3 w-100">
                        <b>Ingredients: </b>
                        @String.Join(", ", ingredients)
                    </div>
                </div>
            </div>
            <hr />
        </div>
        page++;
        recipeCount++;
    }
}
